<strong>Hello, {{ provider }}</strong>
<p>There was a schedule cancellation, check out the details below: <br /><br />
    <strong>Client: {{ user }}</strong> <br />
    <strong>Date/Hour: {{ date}}</strong> <br /><br />
    <small>
        The schedule is again available for scheduling!
    </small>
</p>